<form [formGroup]="citySelectionList" (ngSubmit)="onSubmit()">
    <div fd-form-set>
        <div fd-form-item>
            <input
                [(ngModel)]="currentSelectedCity"
                [typeahead]="cityList"
                formControlName="cityName"
                fd-form-control
                type="text"
                id="search"
                placeholder="Please choose a city"
                typeaheadOptionField="name"
            />
        </div>
    </div>
    <button fd-button id ="add" type="submit" label="Add"  style="margin-right: 5px"></button>
</form>
<app-city-card ></app-city-card>