
<div class="container">
<form [formGroup]="citySelectionList" (ngSubmit)="onSubmit()">
    <div fd-form-set>
        <div fd-form-item>
            <input
                [(ngModel)]="currentSelectedCity"
                [typeahead]="cityList"
                formControlName="cityName"
                fd-form-control
                type="text"
                id="search"
                placeholder="Please choose a city"
                typeaheadOptionField="name"
            />
        </div>
    </div>
    <button fd-button id ="add" type="submit" label="Add"  style="margin-right: 5px"></button>
</form>
<div class="card" style="width: 300px;margin-top: 20px;" *ngFor="let city of selectedCitiesMap | keyvalue">
    <div class="card-body">
      <h5 class="card-title">{{city.value.name}}</h5>
      <p class="card-text">current weather: {{city.value.temperature}}°</p>
    </div>
    <div class="card-body">
      <a (click)="deleteCard(city.key)" style="cursor: pointer;" class="card-link">Delete Card</a>
      <a href="#" class="card-link">Update Weather</a>
    </div>
  </div>
</div>