<form [formGroup]="citySelectionForm" (ngSubmit)="onSubmit()">
    <div fd-form-set>
        <div fd-form-item>
            <input
                [(ngModel)]="currentSelectedCity"
                [typeahead]="valueListCity"
                formControlName="cityName"
                fd-form-control
                type="text"
                id="search"
                placeholder="Please choose a city"
                typeaheadOptionField="name"
            />
            <span *ngIf="!citySelectionForm.get('cityName').valid && citySelectionForm.get('cityName').touched"
            class="help-block">Please enter a city</span>
        </div>
    </div>
    <button fd-button id ="add" type="submit" label="Add"  style="margin-right: 5px"></button>
</form>
<app-city-card ></app-city-card>